:root {
    --orange:rgba(230, 117, 75, 1);
    --beige: rgba(255, 255, 214, 1);
}

body {
    background: var(--orange);
    /* justify-content: center; */
}

.insideBorder {
    margin: 15px;
    background: var(--beige);
    border: 15px;
    border-style: solid;
    border-color: var(--beige);
    border-radius: 15px;
    height: 747px;
}


.page-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#waldoPic {
    width: 170px;
}

#column1 {
    width: 170px;
}

#column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#startButton {
    background-color: var(--beige);
    border-radius: 50%; 
    border-color: var(--orange);
    border-style: solid;
    border-width: 3px;
    height: 150px;
    width: 150px;
    color: var(--orange);
    font-size: 75px;
}

#startButton:hover { 
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--beige);
}

#welcome {
    color: var(--orange);
    font-family:Monotype Corsiva, Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

#ISPY {
    color: var(--orange);
    font-family:Cooper, 'Times New Roman', Times, serif;
    font-size: 90px;
}

.column {
    margin: 10px;
    text-align: center;
    justify-content: center;
}



